{%load static %}

<style>
    .profile-picture-container {
        position: relative;
        display: inline-block;
    }

    .profile-picture {
        border-radius: 50%;
        margin-top: -10px;
        height: 38px;
        width: 38px;
    }

    .exclamation-icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 20px;
        /* Set the width of the icon */
        height: 20px;
        /* Set the height of the icon */
    }

    @media screen and (max-width: 576px) {
        .mynav::after {
            content: '';
            /* Add an empty content */
            display: block;
            /* Make it a block-level element */
            width: 0;
            /* Initial width is 0 */
            height: 2px;
            /* Set the height as needed */
            background-color: white;
            /* Set the background color */
            transition: width 0.3s;
            /* Add the transition property */
        }

        .mynav:hover::after {
            width: 0;
            /* Expand the width on hover */
        }

        .navbar-nav .nav-item {
            text-align: center;
        }
    }
</style>



<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top border border-secondary shadow mb-5">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: rgb(36, 35, 35); font-weight: bold;">
            <img src="{% static 'img/Main/musicallogo.png' %}" alt="" height="30px" width="30px" class="me-2">Instrument Rental 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link mynav" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mynav" href="{% url 'aboutus' %}">About</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mynav" href="#" id="exploreDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Explore
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="exploreDropdown">
                        <!-- Add dropdown items here -->
                        <li><a class="dropdown-item" href="{% url 'explore' %}">Show All</a></li>
                        <li><a class="dropdown-item" href="#">Drums</a></li>
                        <li><a class="dropdown-item" href="#">Guitars</a></li>
                        <li><a class="dropdown-item" href="#">Piano</a></li>
                        <!-- You can add more dropdown items as needed -->
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link mynav " href="{% url 'events' %}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mynav" href="{% url 'blog' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mynav" href="{% url 'contactus' %}">Contact</a>
                </li> 

            {% if user.is_authenticated and user.role == 'lessor' and user.is_verified %}


            <li class="dropdown nav-item  ">

                <a class="nav-link dropdown-toggle  " href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="profile-picture-container">
                        <img src="{% if user.photo %}{{ user.photo.url }}{% else %}path/to/default/profile-pic.jpg{% endif %}"
                            alt="Profile Picture" class="profile-picture">
                        <img src="{% static 'img/Main/approved.png' %}" alt="Exclamation Icon" class="exclamation-icon">
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink"
                    style=" background-color: white;">
                    {% comment %} <li><a class="dropdown-item text-black"
                            href="{% url 'accounts:lessor-edit-profile' request.user.id %}">Profile</a></li>
                    <li><a class="dropdown-item text-black" href="{% url 'explore:dashboard' %}">Dashboard</a></li>
                    <li><a class="dropdown-item text-black" href="{% url 'explore:add_item' %}">Add item</a></li>

                    <li><a class="dropdown-item text-black" href="{% url 'accounts:logout' %}">Logout</a></li> {% endcomment %}

                </ul>
            </li>


            {% elif user.is_authenticated and user.role == 'lessor' and not user.is_verified %}

            <li class="dropdown nav-item  ">

                <a class="nav-link dropdown-toggle  " href="#" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">

                    <div class="profile-picture-container">
                        <img src="{% if user.photo %}{{ user.photo.url }}{% else %}path/to/default/profile-pic.jpg{% endif %}"
                            alt="Profile Picture" class="profile-picture">
                        <img src="{% static 'img/Main/Unverified.png' %}" alt="Exclamation Icon"
                            class="exclamation-icon">
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink"
                    style=" background-color: white;">
                    {% comment %} <li><a class="dropdown-item text-black" 
                            href="{% url 'accounts:lessor-edit-profile' request.user.id %}">Profile</a></li>
                    <!-- -->
                    {% comment %} <li><a class="dropdown-item text-black" href="{% url 'accounts:logout' %}">Logout</a></li> 
                    <li class="nav-item mt-0">
                        <a class="nav-link mynav" href="{% url 'explore:add_item' %}" aria-disabled="true" hidden>
                            Add item</a>{% endcomment %}

                    </li>

                </ul>
            </li>




            {% elif user.is_authenticated and user.role == 'customer' and user.is_verified%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" id="navbarDropdownMenuLink" role=""
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="profile-picture-container">
                        <img src="{% if user.photo %}{{ user.photo.url }}{% else %}path/to/default/profile-pic.jpg{% endif %}"
                            alt="Profile Picture" class="profile-picture">
                        <img src="{% static 'img/Main/approved.png' %}" alt="Exclamation Icon" class="exclamation-icon">
                    </div>
                </a>
                {% comment %} <ul class="dropdown-menu dropdown-menu-lg-end " aria-labelledby="navbarDropdownMenuLink"
                    style=" background-color: white;">
                    <li><a class="dropdown-item text-black"
                            href="{% url 'accounts:customer-edit-profile' request.user.id %}">Profile </a></li>
                    <li><a class="dropdown-item text-black" href="{% url 'explore:dashboard' %}">Dashboard</a></li>

                    <li><a class="dropdown-item text-black" href="{% url 'accounts:logout' %}">Logout</a></li>

                </ul> {% endcomment %}
            </li>


            {% elif user.is_authenticated and user.role == 'customer' and not user.is_verified%}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle  " href="#" id="navbarDropdownMenuLink" role=""
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <div class="profile-picture-container">
                        <img src="{% if user.photo %}{{ user.photo.url }}{% else %}path/to/default/profile-pic.jpg{% endif %}"
                            alt="Profile Picture" class="profile-picture">
                        <img src="{% static 'img/Main/Unverified.png' %}" alt="Exclamation Icon"
                            class="exclamation-icon" style="margin-left: 5px;">
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-lg-end " aria-labelledby="navbarDropdownMenuLink"
                    style=" background-color: white;">
                    {% comment %} <li><a class="dropdown-item text-black"
                            href="{% url 'accounts:customer-edit-profile' request.user.id %}">Profile </a></li>

                    <li><a class="dropdown-item text-black" href="{% url 'accounts:logout' %}">Logout</a></li> {% endcomment %}

                </ul>
            </li>


            {% else %}
            {% comment %} <li class="nav-item"> 
                <a class="nav-link mynav" href="{% url 'accounts:login' %}">Login</a>{% endcomment %}
            </li>
            <li class="nav-item dropdown mynav" style=" background-color: white;">
                <a class="nav-link dropdown-toggle text-dark " href=" #" id="navbarDropdownMenuLink" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Be part
                </a>
                {% comment %} <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarDropdownMenuLink">
                    <li><a class="dropdown-item text-black"
                            href="{% url 'accounts:customer_registration' %}">Customer</a></li>
                    <li><a class="dropdown-item text-black" href="{% url 'accounts:lessor_registration' %}">Tenant</a>
                    </li> {% endcomment %}

                </ul>
            </li>


            {% endif %}


        </ul>
    </div>
</nav>