{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="text-center bg-image" data-aos="fade-down-right"
    style="
      background-image: url('{% static 'img\about\Screenshot 2024-04-22 142911.png' %}'); height: 600px; background-repeat: no-repeat; background-size:cover; margin-top:-100px; opacity:96% ;">

    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="mb-5 text-center">

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% include 'messages.html' %}
<section class="py-3 py-md-5 py-xl-8">
    <div class="container" data-aos="fade-down-left">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">

                <h2 class="mb-4 display-5 text-center ">Our Story</h2>

                <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle border-2 ">
            </div>
        </div>
    </div>



    <div class="container" data-aos="fade-down-right">
        <div class="row gy-3 gy-md-4 gy-lg-0">
            <div class="col-md-12 col-lg-6">
                <div class="card bg-light p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="{% static 'img\about\Screenshot 2024-04-22 142911.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">Why Choose Us?</h2>
                                <p class="card-text lead">At Instrument Rental  , we stand out with our commitment to
                                    excellence. With a wide range of high-quality instruments and a team dedicated to
                                    your musical journey, your experience with us is bound to be extraordinary.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="card bg-light p-3 m-0">
                    <div class="row gy-3 gy-md-0 align-items-md-center">
                        <div class="col-md-5">
                            <img src="{% static 'img\about\brooke-cagle.jpg' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-7">
                            <div class="card-body p-0">
                                <h2 class="card-title h4 mb-3">Visionary Team</h2>
                                <p class="card-text lead">Our team consists of passionate engineers, developers, and
                                    creative minds. Together, we embark on a journey to transform complex challenges
                                    into opportunities, ensuring the best for our community of musicians..</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class=" about-us py-3 py-md-5 py-xl-8" data-aos="fade-down-left">

    <div class="container shadow">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
            <div class="col-12 col-lg-6 col-xl-5">
                <figure class="overflow-hidden bsb-overlay-hover" style="margin-top: 15px;">
                    <a>
                        <img class="img-fluid bsb-scale bsb-hover-scale-up" src="{%static 'img\about\the-81-rules-of-handshake-etiquette-870x430.jpg'%}"
                            alt="" width="auto">
                    </a>

                </figure>
            </div>
            <div class="col-12 col-lg-6 col-xl-7">
                <div class="row justify-content-xl-center">
                    <div class="col-12 col-xl-11">
                        <h2 class="mb-3">Why choose Us?</h2>
                        <p class="lead fs-4 text-secondary mb-3"></p>
                        <p class="mb-5">At Instrument Rental, we stand out with our commitment to excellence. With a wide
                            range of high-quality instruments and a team dedicated to your musical journey, your
                            experience with us is bound to be extraordinary.</p>

                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<section class="py-3 py-md-5 py-xl-8">

    <div class="container overflow-hidden " data-aos="zoom-in-up">
        <h2 class="mb-5 pb-4 text-center ms-5 ps-5">Our Team</h2>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle border-2 ">
        <div class="row gy-4 gy-lg-0 justify-content-center">
            <div class="col-12 col-lg-4">
                <div class="card border-0">
                    <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
                        <a href="#!" style="display: block; height: 300px; width: 100%; overflow: hidden;">
                            <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy"
                                src="{% static 'img/sir.jpg' %}" alt=""
                                style="object-fit: cover; width: 100%; height: 100%;">
                        </a>



                    </figure>
                    <div class="card-body border bg-white p-4">
                        <h2 class="card-title h4 fw-bold mb-3">Nirmal Thapa</h2>
                        <p class="card-text text-secondary">Reader</p>
                    </div>

                </div>
            </div>
            <div class="col-12 col-lg-4">
                <div class="card border-0">
                    <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
                        <a href="#!" style="display: block; height: 300px; width: 100%; overflow: hidden;">
                            <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy"
                                src="{% static 'img/about/me.png' %}" alt=""
                                style="object-fit: cover; width: 100%; height: 100%;">
                        </a>



                    </figure>

                    <div class="card-body border bg-white p-4">
                        <h2 class="card-title h4 fw-bold mb-3">Jeny Gurung</h2>
                        <p class="card-text text-secondary">Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-light py-3 py-md-5 py-xl-8" data-aos="zoom-in-down">
    <div class="container">
        <div class="row gy-5 gy-lg-0">
            <div class="col-12 col-lg-6">
                <h2 class="h1 mb-3">How can we help you? Unlocking possibilities
                </h2>
                <p class="lead fs-4 text-secondary mb-4">We hope you have found an answer to your question. If you need
                    any help, please search your query on our contact us via email.</p>
                {% comment %} <a href="{% url 'main:contact' %} " class="btn bsb-btn-2xl btn-danger">Contact Us</a> {% endcomment %}
            </div>
            <div class="col-12 col-lg-6">
                <div class="row justify-content-xl-end">
                    <div class="col-12 col-xl-11">
                        <div class="accordion accordion-flush" id="accordionExample">
                            <div class="accordion-item mb-4 shadow-sm">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button bg-transparent fw-bold text-dark focus-ring focus-ring-danger" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                        aria-controls="collapseOne">
                                        How Do I Change Be Member of Instrument Rental?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show"
                                    aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        To become a member of Instrument Rental, users can sign up on the website by
                                        clicking on the "Sign Up" or "Register" button and providing necessary
                                        information such as username, email, and password. The registration process may
                                        include a verification step, such as email verification or document
                                        verification.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-4 shadow-sm">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed bg-transparent fw-bold text-dark  focus-ring focus-ring-danger" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        How Does Instrument Rental Work?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                                    <div class="accordion-body">
                                        The rental system allows users to browse available musical instruments, view
                                        detailed descriptions including rental rates and terms, select the instrument,
                                        choose a rental duration, and proceed to the secure payment process. Payments
                                        can be processed through a reliable gateway, such as Khalti, with transactions
                                        conducted in Nepalese Rupees (NPR).
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-4 shadow-sm">
                                <h2 class="accordion-header" id="headingThree">
                                    <button
                                        class="accordion-button collapsed bg-transparent fw-bold focus-ring text-dark focus-ring-danger"
                                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                        aria-expanded="false" aria-controls="collapseThree">
                                        How Does Booking System Work?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingThree">
                                    <div class="accordion-body">
                                        The booking system enables users to discover and explore upcoming events listed
                                        on the platform. Event details,including date, time, location, and additional
                                        information, should be clearly presented. Users can then select the eventthey
                                        want to attend and proceed with the booking process. Similar to the rental
                                        system, implement a secure payment gateway like Khalti to process event
                                        bookings, ensuring that the transactions are conducted in Nepalese Rupees.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item mb-4 shadow-sm">
                                <h2 class="accordion-header" id="headingFour">
                                    <button class="accordion-button collapsed bg-transparent fw-bold text-dark focus-ring focus-ring-danger" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        What currency will I be charged in?
                                    </button>
                                </h2>
                                <div id="collapseFour" class="accordion-collapse collapse"
                                    aria-labelledby="headingFour">
                                    <div class="accordion-body">
                                        Make it explicit to users that all transactions on the platform will be
                                        conducted in Nepalese Rupees (NPR). Clearly
                                        communicate this information in relevant sections of the website, especially
                                        during the payment process, to avoid any
                                        confusion regarding the currency used for transactions.
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item shadow-sm">
                                <h2 class="accordion-header" id="headingFive">
                                    <button class="accordion-button collapsed bg-transparent fw-bold text-dark focus-ring focus-ring-danger" type="button"
                                        data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false"
                                        aria-controls="collapseFive">
                                        How Do I Cancel My Account?
                                    </button>
                                </h2>
                                <div id="collapseFive" class="accordion-collapse collapse"
                                    aria-labelledby="headingFive">
                                    <div class="accordion-body">
                                        Users can create their accounts by filling out the registration form with
                                        necessary details, including a unique
                                        username, a valid email address, and a secure password. Depending on the level
                                        of security required, you can incorporate
                                        a verification step. Email verification involves sending a confirmation link to
                                        the user's email, while document
                                        verification may require users to upload identification documents for account
                                        authenticity.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</section>



{%endblock %}