{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
  body {
    background: #eee;
  }



  .blog-card {
    padding: 30px;
    position: relative;

    .blog-card__background,
    .card__background--layer {
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .blog-card__background {
      padding: 15px;
      background: white;
    }

    .card__background--wrapper {
      height: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 60%);
      position: relative;
      overflow: hidden;
    }

    .card__background--main {
      height: 100%;
      position: relative;
      transition: 300ms ease-in-out;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .card__background--layer {
      z-index: 0;
      opacity: 0;
      background: rgba(#333, 0.9);
      transition: 300ms ease-in-out;
    }

    .blog-card__head {
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .blog-card__info {
      z-index: 10;
      background: white;
      padding: 20px 15px;

      h5 {
        transition: 300ms ease-in-out;
      }
    }

    &:hover {


      .card__background--main {
        transform: scale(1.2) rotate(5deg);
      }

      .card__background--layer {
        opacity: 1;
      }

      .blog-card__info {
        h5 {
          color: #d91414;
        }
      }
    }
  }

  a.icon-link {
    color: #d91414;
    transition: 200ms ease-in-out;

    i {
      color: #d91414;
    }

    &:hover {
      color: #d91414;
      text-decoration: none;
    }
  }

  .btn {
    background: white;
    color: #d24011;
    font-weight: bold;
    outline: none;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border-radius: 0;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0;
    border: none;

    &:focus {
      box-shadow: none;
    }

    &:hover {
      background: #d91414;
      color: #fff;
    }

    &.btn--with-icon {
      padding-right: 20px;

      i {
        padding: 0px 30px 0px 15px;
        margin-right: 10px;
        height: 50px;
        line-height: 50px;
        vertical-align: bottom;
        color: white;
        background: #d91414;
        clip-path: polygon(0 0, 70% 0, 100% 100%, 0% 100%);
      }
    }

    &.btn--only-icon {
      width: 50px;
    }
  }
</style>
<section>
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <article class="blog-card">
          <div class="blog-card__background">
            <div class="card__background--wrapper">
              <div class="card__background--main" style="background-image: url({{posts.image.url}});">
                <div class="card__background--layer"></div>
              </div>
            </div>
          </div>
          <div class="blog-card__head">
            <span class="date__box">
              <span></span>
            </span>
          </div>
          <div class="blog-card__info">
            <h5>{{posts.title}}</h5>
            <p>
            <p href="#" class="icon-link mr-3"><i class="fa fa-pencil-square-o"></i> Muserentalhub</p>
            <p class="icon-link ms-3"><i class="fa fa-comments-o"></i> {{posts.date}}</p>
            </p>
            <p>{{posts.description}}
            </p>
            <a href="{% url 'blog' %}" class="btn btn--with-icon"><i
                class="btn-icon fa fa-long-arrow-right"></i>More Blogs</a>
          </div>
        </article>
      </div>
    </div>
  </div>

  <section class="detail-page">
    <div class="container mt-5">

    </div>
  </section>
  {%endblock %}