{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>

    <div class="container  ">
        <div class="row">
            <div class="col-12 text-center ">

                <div class="bg-light p-3 rounded-circle d-inline-block">
                    <img src="{% static 'img/mail_img/right.png' %}" alt="" height="80px" width="80px"
                        style="mix-blend-mode: hard-light; border-radius: 50%;">
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-6 text-center ">
                <h2 class="mb-4">Password Reset Email Sent</h2>
                <p>We've emailed you instructions for setting your password.</p>
                <p class="mb-5">If you don't receive an email, please make sure you've entered the
                    address you registered with.</p>
            </div>
        </div>
    </div>

    {% endblock %}
</section>